@font-face {
  font-style: normal;
  font-weight: 200;
  font-family: "Geologica";
  font-display: swap;
  src: url("./fonts/GeologicaRoman-ExtraLight.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "Geologica";
  font-display: swap;
  src: url("./fonts/GeologicaRoman-Light.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Geologica";
  font-display: swap;
  src: url("./fonts/GeologicaRoman-Regular.woff2") format("woff2");
}