@use "variables" as *;
@use "mixins" as *;

// Сброс стилей
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  // font-size: $font-size-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: $font-weight-normal;
  line-height: $line-height-base;
  color: $color-text;
  background-color: $color-background;
  min-height: 100vh;
}

a {
  color: $color-primary;
  text-decoration: none;

  @include transition(color);

  @include hover {
    color: #3730a3;
  }

  @include focus-visible;
}

// Изображения
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

// Формы
input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
}

// Утилитарные классы
.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 16px;
}

.visually-hidden {
  @include visually-hidden;
}